
  @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Open Sans', sans-serif;


}
body {
    width: 100%;
    height: 100%;
    background-image: url(images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
   
}
.section-p1 {
    padding: 20px 80px;
    animation-name: sectionUp;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;

}

@keyframes sectionUp {
    from {
      opacity: 0;
      scale: 0.95;
    }
    to {
      opacity: 1;
      scale: 1;
    }
}

.section-m1 {
    margin-bottom: 50px;
}
h2 {
    font-size: 48px;
    line-height: 54px;
    margin: 0;
    padding: 0;
    font-weight: 700;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
h5 {    
    font-size: 24px;
    font-weight: 500;
    color: #e2d4d4;
}

#header {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    padding: 200px 100px;
    
    
}
#header .header-content {
    color: #fff;
    width: 50%;
}
.header-content h2 {
    font-size: 50px;
}
#header .header-content h5 {
    color: #afacac;
    margin-top: 20px;
}
#header .header-content h5 span {
    color: #fff;
    position: relative;
}
#header .header-content h5 span::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #22eb86;
    position: absolute;
    bottom: -8px;
    left: 0px; 
}
#navbar {
    display: flex;
    align-items: center;
    margin-top: 35px;
    padding: 0;
    
}
#navbar li {
    list-style: none;
    padding: 0 30px 0 0;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #afacac;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    transition: 0.3s;
}
#navbar li a.active,
#navbar li a:hover {
    color: #fff;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 40%;
    height: 2px;
    background: #22eb86;
    position: absolute;
    bottom: -4px;
    left: 0px;
}
.header-content .icons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}
.header-content .icons a {
    text-decoration: none;
}
.header-content .icons i {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}
.header-content .icons i:hover {
    background-color: #22eb86;
}


/* about page */
#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #050505;
    height: 100px;
    padding: 20px 100px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
.mainNavBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#main-nav #navbar {
    margin: 0px;
}
#main-nav h2 {
    font-size: 38px;
    margin: 0;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.margineffect {
    background-color: rgba(95, 7, 7, 0.7);
    padding: 20px;
}
.line-after {
    font-size: 16px;
    color: #afacac;
    margin-bottom: 5px;
}
 .line-after::after {
    content: "";
    width: 80px;
    height: 1px;
    background-color: #22eb86;
    display: inline-block;
    margin: 5px 10px;
 }
 .myimage {
    width: 30%;
}
.myimage img {
    width: 100%;
}
h2 {
    font-size: 30px;
    font-weight: 600;
}
.about-me {
    display: flex;
    justify-content: space-between;
  
}
.about-me .about-details {
    color: #fff;
    width: 65%;   
}
.about-details h4 {
    color: #22eb86;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-me .about-details p {
   margin-bottom: 0px;
   line-height: 1.5;
}
.mylist {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}
.mylist ul li {
    list-style: none;
    margin-bottom: 20px;
}
.mylist ul li i {
    margin-right: 10px;
    color: #22eb86;
    font-size: 15px;
}
.mylist .col1 {
    width: 50%;
}

.counts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.counts .box1 {
    width: 23%;
    text-align: center;
}
.counts .box1 .sum {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    text-align: center;
}
.box1 .sum h3 {
    margin-bottom: 5px;
    font-size: 40px;
}
.counts .box1 i {
    color: #22eb86;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    transform: translateY(25px);
}

.skills {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.skills .row1 {
    width: 48%;
}
.row1 .row-content {
    margin-bottom: 20px;
}
.row-content .row-text {
    display: flex;
    justify-content: space-between;
}
.skills .row1 h5 {
    font-size: 12px;
    font-weight: 600;
}
.progress {
    height: 10%;
    width: 100%;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.2);
}
.progress-bar {
  background-color: #22eb86;
  height: 10px;
  transition: width 0.5s ease;
}


.interests {
    display: flex;
    flex-direction: column;
}
.interest-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.interest1 {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 20px;
  display: flex;
  align-items: center;
  width: 23%;
  transition: 0.3s;
}
.interest1:hover {
    background: rgba(255, 255, 255, 0.2);
}
.interest1 i {
    vertical-align: middle;
    font-size: 30px;
}
.interest1 p {
    margin: 0 0 0 20px; 
    font-weight: 600;
}
.green {
    color: #22eb86;
}
.blue {
    color: #665cf0;
}
.yellow {
    color: #bed828;
}

/* testimonials */
.swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    padding: 40px 0; 
    
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
  }
  .testimonial-details {
    color: #fff;
    padding: 10px 0 10px 25px;
  }
  .testimonial-details h6 {
    font-weight: 600;
    font-size: 18px;
  }
  .testimonial-details p {
    color: #afacac;
  }
  .card {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
  }
  .card p {
    color: #fff;
  }
  .card i{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.2);
    margin: 4px;
  }
  .pic img{
    height: 13vh;
    border-radius: 50%;
    border: 6px solid rgba(0, 0, 0, 0.7);
    align-items: center;
    width: 80px;
    border-radius: 50%;
    margin: -30px 0 0 40px;
    position: relative;
    vertical-align: middle;
    z-index: 999;
  }
  .swiper-pagination {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
    margin: 0 5px; 
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #22eb86;
  }

  /* resume page */
  .resume {
    display: flex;
    justify-content: space-between;
  }
  .resume-col {
    margin-top: 20px;
    width: 48%;
    
  }
  .summary {
    padding-bottom: 25px;
  }
  .resume h4 {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .resume h5 {
    color: #22eb86;
    font-size: 18px;
    font-weight: 600;
 
  }
  .resume-details {
    color: #cfcbcb;
  }
  .left-border {
    border-left: 2px solid #353434;
  }
  .resume-details h5::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #22eb86;
    display: inline-block;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: -8px;
  }
  .resume-details p {
    margin-left: 20px;
    line-height: 1.5;
    font-size: medium;
  }
  .resume-details li {
    margin-left: 20px;
    padding-bottom: 5px;
    line-height: 1.5;
    
  }
  .resume-details ul {
    margin-left: 20px;
  }
  .resume-details span {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Playfair', serif;
  }

/* services page */
.services {
    color: #fff;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.service-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.service-item {
    width: 32%;
    background: rgba(255, 255, 255, 0.2);
    padding: 80px 50px;
    align-items: center;
    text-align: center;
    transition: 0.5s ease;
}
.service-item h4 {
    margin-top: 20px;
    font-weight: 700;
}
.service-item p {
    line-height: 1.5;
    color: #e0e0e0;
}
.service-item:hover  {
    background-color: #22eb86;
}
.service-item:hover .main-icon{
    background-color: #fff;
    color: #22eb86;
}
.service-item:hover .icn {
    background-color: #51fca6;
}
.service-item:hover p {
    color: #fff;
}
.service-icon {
    padding: 0px 30px;
    display: flex;
    text-align: center;
}
.service-icon i {
    font-size: 24px;
}
.service-icon .main-icon {
    background-color: #22eb86;
    padding: 20px;
    border-radius: 10%;
    transform: translateX(-70px);
    transform: translateY(5px);
    transition: 0.5s ease;
    
}
.service-icon .icn {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10%;
    transform: translateX(50px);
    transition: 0.5s ease;
}

/* contact page */
.contact-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.contact {
    background-color: #353434;
    color: #fff;
    padding: 20px 100px 20px 20px;
    display: flex;
    flex-direction: flex-start;
    width: 49%;
}

.contact span i {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    padding: 18px;
    color: #22eb86;
  
}
.contact-detail {
    margin-left: 10px;
    align-items: center;
}
.contact-detail h4 {
    color: #969292;
    font-weight: 700;
    font-size: 18px;
}
.contact-detail p {
    font-size: 14px;
}
.social i{
    color: #fff;
    margin-right: 8px;
    font-size: 18px;
}
.social i:hover {
    color: #22eb86;
}
#form-details form {
    display: flex;
    background: #353434;
    flex-direction: column;   
    padding: 20px; 
}
#form-details form input,
#form-details form textarea {
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: none;
    color: #fff;
    font-size: 14px;
}
#form-details form input::placeholder,
#form-details form textarea::placeholder {
    font-weight: 700;
}
.form-row {
    display: flex;
    justify-content: space-between;  
}
.form-row input {
    width: 49%;
}
#form-details .btn {
    text-align: center;
}
#form-details button {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 25px;
    color: #fff;
    background-color: #22eb86;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none; 
}

/* portfolio page */
#portfolio-buttons {
    text-align: center;
}
.but {
    border: none;
    outline: none;
    margin: 0 5px 20px 0;
    padding: 8px 14px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
.butActive,
.but:hover {
    background-color: #22eb86;
}
.objects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    float: left;
    color: #fff;    
    text-align: center;
    margin: 10px;
    display: none;
    width: 30%;
    height: 300px;
    background-color: rgba(70, 68, 68, 0.9); 
    overflow: hidden;
    position: relative; 
}


.box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: opacity 0.3s ease-in-out;
}
.box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    border-top: 2px solid #22eb86;
    border-bottom: 2px solid #22eb86;
}

.box:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7); 
}
.box a {
    color: #fff;
    text-decoration: none;
}
.box i {
    transform: translateY(-160px);
    display: block;
    opacity: 0;
    font-size: 28px;
    cursor: pointer;
    transition: 0.7s ease;
    /* display: flex; */
}
.box i:hover {
    color: #22eb86;
}

.box:hover i {
    opacity: 1;
}
.show {
    display: block;
}


/* portfolio details */
#port-details {
    color: #fff;
    position: relative;
    display: none;
    z-index: 9999;
    transition: opacity 0.3s, visibility 0.3s;
    opacity: 1;
   
}


@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

#port-details h4 {
    font-weight: 600;
    margin-bottom: 15px;
}
.port-info {
    display: flex;
    justify-content: space-between;
}
swiper-container {
    width: 60%;
    height: 450px;

  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .details {
    width: 40%;
    margin-left: 20px;
  }
  .details h5 {
    padding-bottom: 15px;
  }
  .details h6 {
    padding-bottom: 10px;
  }
  .details h6 span {
    color: #22eb86;
  }
  .details p {
    margin-top: 20px;
  }

  #port-details .icon-close {
    position: absolute;
    top: 0;
    right: 80px;
    width: 45px;
    height: 45px;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
  }
